* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

::-moz-selection {
  background-color: #F4DFC8;
  color: #000;
}

::selection {
  background-color: #F4DFC8;
  color: #000;
}

.wrap {
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .header {
  width: 100%;
  height: 12vh;
  background-color: #000000;
  color: #F4EAE0;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
}
.wrap .header a {
  font-size: 24px;
  font-weight: 700;
  color: #F4EAE0;
  text-decoration: none;
  margin-right: 25px;
}
.wrap .header .header_logo {
  width: 150px;
  font-size: 56px;
  font-weight: 600;
  color: #F4DFC8;
  display: flex;
  align-items: end;
  cursor: pointer;
}
.wrap .header .i {
  color: #F4EAE0;
  font-size: 48px;
}
.wrap .header .header_logo:hover {
  letter-spacing: 5px;
}
.wrap .header .header_theme {
  width: 80px;
  height: 40px;
  border-radius: 30px;
  background-color: #F4EAE0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.wrap .header .header_theme_circle {
  width: 40px;
  height: 40px;
  background-color: #FAF6F0;
  border-radius: 50%;
  border: 3px solid #000;
}
.wrap .header .header_burger {
  display: none;
}
.wrap .mainPage {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}
.wrap .mainPage .mainPage_title {
  font-size: 48px;
  font-weight: 700;
  color: #F4DFC8;
  margin-bottom: 10px;
  margin-top: -40px;
}
.wrap .mainPage .mainPage_text {
  font-size: 18px;
  font-weight: 400;
  color: #F4EAE0;
  width: 480px;
}
.wrap .mainPage .mainPage_text_amphasized {
  color: #F4DFC8;
  font-weight: 500;
}
.wrap .mainPage .language {
  position: absolute;
  width: 50px;
  cursor: pointer;
}
.wrap .mainPage #en {
  top: 40px;
}
.wrap .mainPage #ukraine {
  top: 80px;
  left: 900px;
}
.wrap .mainPage #france {
  top: 80px;
  right: 900px;
}
.wrap .mainPage #japan {
  top: 160px;
  left: 1020px;
}
.wrap .mainPage #poland {
  top: 160px;
  right: 1020px;
}
.wrap .mainPage #lithuania {
  top: 280px;
  left: 1065px;
}
.wrap .mainPage #netherlands {
  top: 280px;
  right: 1065px;
}
.wrap .mainPage #portugal {
  top: 400px;
  left: 1020px;
}
.wrap .mainPage #saudiArabia {
  top: 400px;
  right: 1020px;
}
.wrap .mainPage #spain {
  top: 480px;
  left: 900px;
}
.wrap .mainPage #china {
  top: 480px;
  right: 900px;
}
.wrap .mainPage #hungary {
  top: 520px;
}

@media screen and (max-device-width: 500px) {
  .header .a {
    display: none;
  }
  .header #header_burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .header .header_burger_row {
    width: 45px;
    height: 6px;
    margin-bottom: 9px;
    border-radius: 5px;
    background-color: #F4DFC8;
  }
  .header .header_theme {
    margin-right: -20px;
  }
  .mainPage #mainPage_title {
    font-size: 40px;
  }
  .mainPage #mainPage_text {
    width: 320px;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */