*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
::selection{
    background-color: #F4DFC8;
    color: #000;
}
.wrap{
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header{
        width: 100%;
        height: 15vh;
        background-color: #000000;
        color: #F4EAE0;
        display: flex;
        align-items: center;
        padding: 30px;
        justify-content: space-between;
        a{
            font-size: 24px;
            font-weight: 700;
            color: #F4EAE0;
            text-decoration: none;
            margin-right: 25px;
        }
        .header_logo{
            width: 86px;
        }
        .header_theme{
            width: 80px;
            height: 40px;
            border-radius: 30px;
            background-color: #F4EAE0;
            cursor: pointer;
        }
        .header_theme_circle{
            width: 40px;
            height: 40px;
            background-color: #FAF6F0;
            border-radius: 50%;
            border: 3px solid #000;
        }
    
    }
    
    .mainPage{
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: relative;
    
        .mainPage_title{
            font-size: 48px;
            font-weight: 700;
            color: #F4DFC8;
            margin-bottom: 10px;
    
        }
        .mainPage_text{
            font-size: 20px;
            font-weight: 400;
            color: #F4EAE0;
            width: 600px;
        }
        .mainPage_text_amphasized{
            color: #F4DFC8;
            font-weight: 500;
        }
        .language{
            position: absolute;
            width: 50px;
        }
        #united-kingdom{
            top: 50px;
        }
        #ukraine{
            top: 70px;
            left: 900px;
        }
        #france{
            top: 70px;
            right: 900px; 
        }
        #japan{
            top: 130px;
            left: 1040px;
        }
        #poland{
            top: 130px;
            right: 1040px;
        }
    }
}
